<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Trending Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 @if (isLoading) {
  <ion-list>
    @for (i of dummyArray; track i) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
          <ion-skeleton-text> </ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height: 40px;"></ion-skeleton-text>
      </ion-item>
    }
  </ion-list>
 }@else if (error) {
  <ion-alert handle="Error" [message]="error" isOpen="true" [buttons]="['Ok']" />
 }

 <ion-list>
  @for (movie of movies; track movie) {
    <ion-item  button [routerLink]="['/details' , movie.id]">
      <ion-avatar slot="start">
       <img [src]="imageBaseUrl + '/w92' + movie.poster_path" alt="poster" />
      </ion-avatar>
      
      <ion-label class="ion-text-wrap">
        <h3> {{ movie.title}}</h3>
        <p> {{ movie.release_date | date:'y' }}</p>
      </ion-label>

      <ion-badge slot="end">{{ movie.vote_average }}</ion-badge>
    </ion-item>
  }
  @empty {
    @if (!isLoading) {
      <ion-item line="none">
        <ion-label class="ion-text-center"> No movies Found

        </ion-label>
      </ion-item>
    }
  }
</ion-list>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more Movies "></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
